/* .montserrat{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat",
		sans-serif;

	/* background-color: rgb(225, 236, 236); */
}

body {
	/* background-color: aliceblue; */
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	/* border-color: red; */

}

.infoContenedor {
	display: block;
	border-radius: .5rem;
	background-color: rgba(237, 159, 159, 0.8);
	text-align: center;
	width: 45vw;
	height: 16rem;
	font-size: 1rem;
	margin: 1rem;
	padding: 1%;
	align-items: flex-start;
	justify-content: center;
}


.divBuscador {
	padding-top: .1rem;
	grid-column: 1/-1;
	display: flex;
	align-content: center;
	justify-content: space-evenly;
	align-items: stretch;
	height: 3rem;

}

.esunInput {
	align-items: center;
	width: 75%;
	/* background-color: rgb(170, 120, 220); */
	height: 100%;
	border-radius: .5rem;
}

.botonInput {
	/* background-color: rgb(193, 158, 229); */
	/* border-color: rgb(223, 96, 210); */
	border-radius: .5rem;
	width: 10%;
	font-size: 1rem;
	margin-bottom: 3rem;
	height: 100%;
}

.titulo1 {
	grid-column: 1/-1;
	margin: 0.5rem;
	padding: 2%;
	/* color: blueviolet; */
	text-align: center;
	/* background-color: aqua; */
}

.titulo2 {
	height: 10%;
	font-size: 2rem;
	background-color: transparent;
}

button.dark,
button.light {
	/* background-color: aliceblue; */
	width: 3rem;
	border-radius: 0.5rem;
	/* background-color: antiquewhite; */
}

.parrafo {
	background-color: transparent;
	padding-top: 2%;
	margin-top: 1rem;
	text-align: left;
	height: 70%;
	font-size: 1.1rem;
}

.boton {
	/* background-color: rgb(214, 187, 240); */
	/* border-color: rgb(236, 235, 244); */
	height: 2rem;
	border-radius: .5rem;
	width: 100%;
	font-size: 1rem;
	margin-bottom: 3rem;
	/* color: white; */
}

.dark-mode {
	background-color: rgb(1, 1, 73);
	color: rgb(249, 246, 246);
	/* display: none; */

}

/* .dark-mode .dark {
	display: none;
} */
.carrito {
	width: 3rem;
	font-size: 1rem;
	cursor: pointer;

}

.lista {
	display: none;
	list-style-type: none;
}

.visible {
	display: block;

}

@media (max-width:780px) {
	body {
		grid-template-columns: repeat(1, 1fr);
	}

	.infoContenedor {
		width: 90%;
	}
}